name: Build and Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    env: 
      workdir: librarymanager
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            java: 17
            additional-maven-args: >
              -Pcoveralls
              -DrepoToken=$COVERALLS_REPO_TOKEN
              -DpullRequest=${{ github.event.pull_request.number }}

    name: Build with Java ${{ matrix.java }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/*.yml') }}
        restore-keys: ${{ runner.os }}-m2-

    - name: Build with Maven
      run: >
        mvn verify ${{ matrix.additional-maven-args }}
      working-directory: ${{ env.workdir }}
      env: 
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
    - name: Generate JUnit Report
      run: >
        mvn surefire-report:report-only site:site -DgenerateReports=false
      working-directory: ${{ env.workdir }}

      if: ${{ failure() }}  # Archivio report per ispezionarli solo quando i test falliscono
    - name: Archive JUnit Report
      uses: actions/upload-artifact@v4
      with:
        name: surefire-report-jdk-${{ matrix.java }}
        path: '**/target/site'